body{
   background-color: darkgoldenrod;
   font-family: 'Roboto Serif', sans-serif;
   background-image: url("https://i.natgeofe.com/n/4f5aaece-3300-41a4-b2a8-ed2708a0a27c/domestic-dog_thumb_2x1.jpg");
   background-repeat: no repeat;
   background-position: center;
   background-size: cover;
}

.wrapper{
    background-color: aqua;
    border: 2px solid green;
    margin-top: 50px;
    margin-right: 250px;
    margin-bottom: 200px;
    margin-left: 200px;
}

#number-one {
    color: red;
    width: 50%;
    height: 150px;
}

p {
    font-size: x-large;
}

.placeholder{
    color: green;

}